# Java
backend/target/
*.class
*.log

# Java artifacts
*.jar
*.war
*.nar
*.ear

# Node
frontend/node_modules/
frontend/dist/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Data outputs
frontend/public/data/*.generated.json
